.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    border: 1px solid var(--gray-light-color);
    border-radius: 20px;
    width: 888px;
    height: 600px;
    
}

.image {
    width: 220px;
    height: 220px;
}

.text {
    font-size: 22px;
    font-weight: var(--font-weight-bold);
}