.wrapper {
    display: flex;
    margin-top: 48px;
}

.button {
    margin-left: 860px;
    margin-top: 40px;
    margin-bottom: 52px;
    border: none;
    border-radius: 200px;
    height: 56px;
    width: 145px;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    background-color: var(--white-color);
    color: var(--main-color);
    border: solid 1px var(--gray-light-color);
}

.button:hover {
    border: solid 1px var(--button-hover-color);
}