.wrapper {
    background-color: var(--inputs-color);
    border-radius: 10px;
    padding: 44px 52px;
    width: 631px;
    height: 588px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    margin-bottom: 48px;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 527px;
    height: 1px;
    background-color: var(--gray-light-color);
    transition: background-color 0.2s ease;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}

.text {
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.5;
}