.filters{
    padding-right: 64px;
}

.label {
    color: var(--gray-color);
    display: block;
}

.input {
    width: 360px;
    height: 56px;
    margin-top: 8px;
    padding: 16px 20px;
    border-radius: 12px;
    border: none;
    background-color: var(--inputs-color);
}

.location {
    margin-bottom: 40px;
}

.header {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    margin-bottom: 32px;
}

.title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
}

.line {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0.5px solid var(--gray-light-color);
}

.item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 112px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid var(--gray-light-color);
    color: var(--main-color);
}

.active {
    border: 1px solid var(--button-color);
}

.icon {
    width: 32px;
    height: 32px;
    /* content: var(--ac-img); */
}

.radioButton {
    display: none;
}

.equipment{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;
    margin-bottom: 32px;
}

.form {
    display: flex;
    column-gap: 12px;
    margin-bottom: 40px;
}